body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    background-color: pink;
    color: white;
}

.caja {
    padding-left: 800px ;
    width: 300px;
}
